{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{{ list_name }}</h2>
    {% if participants %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "name"|capfirst %}</th>
                        <th>{% trans "age"|capfirst %}</th>
                        <th>{% trans "giftee"|capfirst %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.id }}</td>
                            <td>{{ participant.name }}</td>
                            <td>{{ participant.age }}</td>
                            <td>
                                {% if participant.giftee_name %}
                                    <a style="font-weight: normal; color: #0000CC; " href="{% url "giftee" participant_id=participant.id %}">{{ participant.giftee_name }}</a>
                                {% else %}
                                    <a style="font-weight: bold; color: #CC0000" href="{% url "giftee" participant_id=participant.id %}">{% trans "get giftee"|capfirst %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <div>{% trans "there aren't participants yet"|capfirst %}</div>
    {% endif %}

    <h3>{% trans "add participant"|capfirst %}</h3>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="name">{% trans "name"|capfirst %}</label>
                    <input class="form-control" type="text" name="name" id="name" value="" />
                </div>
                <div class="form-group">
                    <label for="age">{% trans "age"|capfirst %}</label>
                    <input class="form-control" type="text" name="age" id="age" value="" />
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}